/**
 * TYPOGRAPHIE
 */
$font-family: 'Open Sans';
$font-family-alt: 'PT Serif';
$font-size: 1em;
$font-color: $color-dark;

$font-color-alt: contrast-color($color-primary, $color-dark, $color-light);

$line-height: 1.5em;

$font-size-h1:  2.5 * $font-size;
$font-size-h2:    2 * $font-size;
$font-size-h3:  1.5 * $font-size;
$font-size-h4: 1.25 * $font-size;
$font-size-h5:    1 * $font-size;
$font-size-h6: 0.75 * $font-size;
