@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

/*
 * BREAKPOINTS
 */
@mixin breakpoint($point) {
	@if $point == phone {
		@media (min-width: $breakpoint-phone) { @content ; }
	}
	@else if $point == tablet {
		@media (min-width: $breakpoint-tablet) { @content ; }
	}
	@else if $point == menu {
		@media (min-width: $breakpoint-menu) { @content ; }
	}
	@else if $point == desktop {
		@media (min-width: $breakpoint-desktop) { @content ; }
	}
}